@font-face {font-family: 'SquareFont'; src: url('square.ttf') format('truetype');}

body {
    margin: 0px;
}

.cover {
    border-bottom: 3px solid black;
}

.container {

}

.about {
    border-bottom: 3px solid black;
    padding-top: 10px;
    background: black;
}

.description {
    margin: 50px;
    margin-left: 28%;
    max-width: 600px;
    color: white;
    text-align: center;
}

h1 {
    font-size: 54px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: SquareFont, sans-serif;
}

h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: SquareFont, sans-serif;
}

p.descrip {
    font-size: 16px;
    margin-right: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a.rules-link {
	color: white !important;
	text-transform: uppercase;
}

a.rules-link:visited {
	color: white !important;
}

a.rules-link:hover {
	text-decoration: underline;
}

.video {
    margin: 0px;
    background-color: #D2000D;
}

.video h1 {
    color: white;
    padding-top: 60px;
    text-align: center;
}

.ytembed {
    margin: 20px 400px;
    padding-bottom: 15px;
}

.title {
    text-align: center;
    padding: 65px 0px;
}

.directions {
    padding: 50px;
    padding-bottom: 60px;
    background: black;
}

.rules {
    display: block;
    max-width: 800px;
    margin: 0;
    color: white;
}

.sample {
    display: block;
    position: absolute;
    max-width: 700px;
    color: white;
}

.faqs {
    display: inline-block;
    margin-left: 450px;
    color: white;
}

.contact {
    display: inline-block;
    padding-bottom: 100px;
}

div.contact h1 {
    margin-left: 50px;
    margin-top: 50px;
}

div.contact p {
    margin-left: 50px;
    font-size: 18px;
    max-width: 750px;
    font-size: 16px;
    margin-right: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a:link {
    color: black;
}
a:visited {
color: black;
}
a:hover {
color: black;
}
a:active {
color: black;
}